@use "../vars";


.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: vars.$text-color;

    p {
        font-family: Arial, sans-serif;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: .3px;
        line-height: 16px;
        font-style: italic;
        color: #9d9d9d;
    }

    input[type=text],
    textarea {
        color: vars.$text-color;
        background: #1e1e1e;
        padding: 12px;
        border: 1px solid #5c5c5c;
        border-radius: 4px;
        resize: vertical;
        max-width: 100%;
    }

    div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        gap: 1em;
    }

    .div {
        border-style: solid;
        border-color: #313131;
        margin: 0% 0% 1em 0%;
    }

    .controlBox {
        padding: 1em;
        align-items: center;
        overflow: hidden;
        border: solid;
        border-color: #404040;
        border-radius: 10px;
        min-width: 30vw;
        margin-bottom: 1.5em;
    }

    .btn {
        cursor: pointer;
        padding: 0.5em;
        background-color: vars.$button-backgroundColor;
        color: vars.$button-color;
        font-size: 1.1em;
        margin-right: 5px;
        border-style: solid;
        border-color: vars.$button-borderColor;
        border-width: 0.2em;
        font-family: math;
        text-decoration: none;
    
        &.link:hover {
            background-color: vars.$button-link-hoverColor;
        }
    
        &.link:active {
            opacity: 0.8;
            background-color: vars.$button-link-activeColor;
        }
    }
}


