/* Primary Colours */
/* Navigational Colours Background */
/* Main Background */
/* Text */
/* ScrollBar */
/* Buttons */
/* Page Divides */
/* Brand & Logos*/
/* Control Variables */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #bfbfbf;
}

a {
  color: rgba(0, 188, 212, 0.9411764706);
  font-weight: 700;
}
a:active {
  color: #bfbfbf;
}

body {
  overflow-y: scroll;
  background: #080808;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0.75em 0;
}
p.gap {
  margin-bottom: 1em;
}
p.italic {
  font-style: italic;
}
p.indentation {
  margin-left: 1.3em;
}

details {
  margin: 0.75em 0em;
}
details *:not(summary) {
  margin-left: 1em;
}
details summary {
  cursor: pointer;
}

ul {
  margin-left: 2rem;
}

/* 
========================================
PAGE DIVIDES
========================================
*/
hr {
  border-style: solid;
  border-color: #313131;
  margin: 10px auto;
  border-width: 3px;
  width: 100%;
}
hr.markdown-body {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: var(--color-border-default);
  border: 0;
}
hr.header {
  border-top: 2.5em;
  border-color: #9b9b9b;
  width: 65%;
}
hr.title {
  margin: 0 0 1em;
}
hr.article {
  width: 85%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  padding: 0.99em 3.1em;
  z-index: 99;
  background: #121212;
  box-shadow: 0px 8px 9px 0px #0c0c0c;
  font-family: sans-serif;
}
@media (max-width: 1400px) {
  header {
    flex-direction: column;
    gap: 2em;
  }
}
header #nav {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px 24px;
}
header #nav a {
  color: #cb4614;
  font-size: 1.1em;
  font-weight: 900;
  text-decoration: none;
  padding: 7px;
  border-radius: 8px;
  border: 2px solid;
}
@media (min-width: 900px) {
  header #nav a.contact {
    margin-left: 40px;
  }
}
header #nav a:hover {
  cursor: pointer;
  color: rgba(0, 188, 212, 0.9411764706);
}
header #nav a.wip:hover {
  color: #c8cb14;
}
header .brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
}
header .brand #logo {
  width: 2.625rem;
  height: 2.625rem;
  background-image: url("./favicon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 20px;
}
header .brand div {
  color: #bfbfbf;
  margin-right: 1em;
  font-size: 1em;
}

.carousel__wip {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel__wip--message {
  z-index: 2;
  position: absolute;
  cursor: pointer;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(245, 245, 245, 0.6);
  font-size: 2rem;
}

.carousel {
  position: relative;
  margin: 0 auto;
  flex: 1;
}
.carousel ul {
  list-style: none;
  background: greenyellow;
  padding: 0;
  margin: 0;
}
.carousel__gallery {
  position: relative;
  border: 0.4em solid #404040;
}
.carousel__slide {
  position: absolute;
  height: 100%;
  width: 100%;
}
.carousel__slide img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}
.carousel__button {
  position: absolute;
  z-index: 2;
  top: 55%;
  transform: translateY(-55%);
  background: none;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(245, 245, 245, 0.3);
  font-size: 4rem;
}
.carousel__button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(245, 245, 245, 0.7);
}
.carousel__button img {
  width: 1em;
}
.carousel__button--forward {
  left: 1rem;
}
.carousel__button--back {
  right: 1rem;
}
.carousel__nav {
  position: relative;
  display: flex;
  width: 100%;
  padding: 10px 0;
  gap: 0.5em;
  justify-content: center;
}
.carousel__nav--pip {
  cursor: pointer;
  border: 0.1em solid #121212;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #404040;
}
.carousel__nav--pip.current {
  background-color: #cb4614;
}

#portal {
  line-height: 1;
  text-align: center;
  align-items: center;
  padding: 10vh 0px;
}
#portal h1,
#portal h2 {
  margin: 1em 0;
}
#portal a {
  color: rgba(0, 188, 212, 0.9411764706);
  font-weight: 700;
}
#portal a:active {
  color: #bfbfbf;
}

.blogCards {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 5em;
  margin-bottom: 8em;
}
.blogCards .card {
  width: 95%;
  overflow: hidden;
  color: #bfbfbf;
  background-color: rgba(0, 188, 212, 0.9411764706);
  border: 0.3em solid #404040;
  border-radius: 10px;
}
.blogCards .card * {
  padding: 0em 2em;
}
.blogCards .card .body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.5em 0em;
  padding: 0em 1em 1em 1em;
  background-color: #121212;
  border: 0.2em solid #404040;
  border-left: 0;
  border-right: 0;
}
.blogCards .card .body h1, .blogCards .card .body h2, .blogCards .card .body h3, .blogCards .card .body h4 {
  align-self: center;
}
.blogCards .card .body h1.title, .blogCards .card .body h2.title, .blogCards .card .body h3.title, .blogCards .card .body h4.title {
  margin: 0.5em 0em;
}
.blogCards .card .body h1.mainTitle, .blogCards .card .body h2.mainTitle, .blogCards .card .body h3.mainTitle, .blogCards .card .body h4.mainTitle {
  margin: 1em 0em;
}
.blogCards .card .body ul {
  margin: 0em 4em;
}
.blogCards .card .cardImage {
  background-color: #9b9b9b;
  border: 0.2em solid #404040;
  border-radius: 1em;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
.blogCards .card .cardImage.floatLeft {
  float: left;
}
.blogCards .card div .imageBlock {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 2em;
  flex-direction: row;
}
.blogCards .card div .imageBlock .cardImage {
  flex: none;
}
.blogCards .card div .imageBlock p {
  margin: 0.75em 0em;
  padding-left: 1.5em;
  margin-top: 0em;
}

.titleHeader {
  margin: 0.5em auto;
  text-align: center;
}

.projectCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  margin: 2em 0em;
}
.projectCards .cardImage {
  background-color: #9b9b9b;
  height: 15vh;
  border-bottom: 0.2em solid #404040;
  border-radius: 25px 25px 0px 0px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  opacity: 0.8;
}
.projectCards .card {
  width: 95%;
  border: 0.3em solid #404040;
  border-radius: 2rem;
  /*
  &:hover {
      box-shadow: 0 0px 20px 0px $nav-primary-color;
  } */
}
.projectCards .card p {
  padding: 0em 2em;
}
.projectCards .card h1,
.projectCards .card h2,
.projectCards .card h3,
.projectCards .card h4 {
  text-align: center;
}
.projectCards .card h3 {
  margin: 0.5em 0.5em;
}
.projectCards .card a {
  display: block;
  text-decoration: none;
  border-top: 0.2em solid #404040;
  padding: 0.75em;
  color: #121212;
  text-align: center;
  font-weight: bold;
  font-size: medium;
  background-color: #6d2d03;
  border-radius: 0px 0px 25px 25px;
}
.projectCards .card a:hover {
  background-color: rgba(0, 188, 212, 0.9411764706);
}

.projectCard {
  padding: 1.5em 3.1em;
  overflow: hidden;
  color: #bfbfbf;
  background: #121212;
  border-style: solid;
  border-color: #404040;
  border-radius: 10px;
  min-width: 30vw;
}
@media (max-width: 1400px) {
  .projectCard {
    padding: 0.99em 1.5em;
    overflow-x: scroll;
  }
}

#avatar {
  max-width: 15.6rem;
  max-height: 15.6rem;
  aspect-ratio: 1/1;
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 3.1em;
  border: 0.2em solid #404040;
  border-radius: 2.5em;
  background-image: url(./img/avatar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: difference;
}

#roleTitle {
  color: rgba(0, 188, 212, 0.9411764706);
  text-align: center;
  margin: 1em auto;
}

#skillList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 1.5em;
}
#skillList .title {
  margin: 0.5em 0em;
}
#skillList .skillSection {
  margin-bottom: 1em;
}
#skillList details, #skillList ul {
  margin: 0em 1.5em;
}

#socialMediaBar {
  display: flex;
  gap: 1em;
  padding: 0em 1em;
}
#socialMediaBar a {
  color: #cb4614;
  font-size: 1.1em;
  font-weight: 700;
  text-decoration: none;
  padding: 7px;
  border-radius: 8px;
  border: 2px solid;
  text-decoration: none;
}
#socialMediaBar a:hover {
  color: rgba(0, 188, 212, 0.9411764706);
  background-color: rgba(0, 188, 212, 0.5019607843);
}
#socialMediaBar a:active {
  color: rgba(0, 188, 212, 0.9411764706);
  opacity: 0.8;
  background-color: rgba(0, 188, 212, 0.9411764706);
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: #bfbfbf;
}
form p {
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 16px;
  font-style: italic;
  color: #9d9d9d;
}
form input[type=text],
form textarea {
  color: #bfbfbf;
  background: #1e1e1e;
  padding: 12px;
  border: 1px solid #5c5c5c;
  border-radius: 4px;
  resize: vertical;
  max-width: 100%;
}
form div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  gap: 1em;
}
form .div {
  border-style: solid;
  border-color: #313131;
  margin: 0% 0% 1em 0%;
}
form .controlBox {
  padding: 1em;
  align-items: center;
  overflow: hidden;
  border: solid;
  border-color: #404040;
  border-radius: 10px;
  min-width: 30vw;
  margin-bottom: 1.5em;
}
form .btn {
  cursor: pointer;
  padding: 0.5em;
  background-color: rgba(162, 62, 0, 0.5019607843);
  color: #bfbfbf;
  font-size: 1.1em;
  margin-right: 5px;
  border-style: solid;
  border-color: #030303;
  border-width: 0.2em;
  font-family: math;
  text-decoration: none;
}
form .btn.link:hover {
  background-color: rgba(0, 188, 212, 0.5019607843);
}
form .btn.link:active {
  opacity: 0.8;
  background-color: rgba(0, 188, 212, 0.9411764706);
}

.wipBox {
  text-align: center;
  margin: 5vh 0vh;
}
.wipBox .constructionBanner {
  background-image: repeating-linear-gradient(-45deg, rgba(200, 203, 20, 0.4509803922) 0 20px, black 20px 40px);
  border: 0.2em solid black;
}
.wipBox hr.article {
  margin: 50px auto 25px auto;
}
.wipBox hr.article.top {
  margin: 50px auto;
}
.wipBox hr.article.bottom {
  margin: 50px auto 25px auto;
}
.wipBox hr.article.footer {
  margin: 25px auto;
}

/* 
========================================
FUNCTIONS
========================================
*/
/* 
========================================
FOREGROUND/BACKGROUND LAYERS
========================================
*/
#frontLayer,
#backLayer {
  width: 100%;
}

#frontLayer {
  z-index: 3;
  position: absolute;
}

#backLayer {
  z-index: 1;
  min-height: 100vh;
  opacity: 0.65;
  background-image: url(./img/background.jpg);
  position: fixed;
  background-size: cover;
}

/* 
========================================
MAIN
========================================
*/
#main {
  padding: 10em 30vw;
  padding-bottom: 0em;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1400px) {
  #main {
    padding: 15em 10vw;
    padding-bottom: 0em;
  }
}

.container {
  padding: 1.5em 3.1em;
  overflow: hidden;
  color: #bfbfbf;
  background: #121212;
  border-style: solid;
  border-color: #404040;
  border-radius: 10px;
  min-width: 30vw;
  margin-bottom: 3em;
}
@media (max-width: 1400px) {
  .container {
    padding: 0.99em 1.5em;
    overflow-x: scroll;
  }
}

/* 
========================================
ScrollBar
========================================
*/
/* width */
::-webkit-scrollbar {
  width: 17px;
  /* typically 20, changed due to scrollbar-track border accent */
}

/* Track */
::-webkit-scrollbar-track {
  border: 2px solid #121212;
  border-radius: 2px;
}

/* ScrollBar */
::-webkit-scrollbar-thumb {
  background: #313131;
}

/* Arrows */
::-webkit-scrollbar-button {
  background-color: #313131;
  border-style: solid;
  border-color: #121212;
  height: 16px;
  width: 15px;
  /* Top */
  /* Bottom */
}
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #555555 transparent;
}
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent rgba(0, 188, 212, 0.9411764706) transparent;
}
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: #555555 transparent transparent transparent;
}
::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  border-color: rgba(0, 188, 212, 0.9411764706) transparent transparent transparent;
}/*# sourceMappingURL=index.css.map */