.blogCards {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 5em;
    margin-bottom: 8em;

    .card {
        width: 95%;
        overflow: hidden;
        color: $text-color;
        background-color: $primary-accent;
        border: .3em solid $background-primary-border;
        border-radius: 10px;

        .title,
        .mainTitle {
            align-self: center;
            margin: .25em 0em;
        }

        .mainTitle {
            margin: 1.25em 0em;
        }

        .body {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            margin: 0.5em 0em;
            padding: 0em 1em;
            background-color: $background-primary-color;
            border: 0.2em solid $background-primary-border;
            border-left: 0;
            border-right: 0;
        }

        /*
        &:hover {
            box-shadow: 0 0px 20px 0px $nav-primary-color;
        } */

        * {
            padding: 0em 2em;
        }

        h1,
        h2,
        h3,
        h4 {
            text-align: center;
        }

        h3 {
            margin: .5em .5em;
        }

        a {
            display: block;
            text-decoration: none;
            border-top: .2em solid $background-primary-border;
            padding: .75em;

            color: $background-primary-color;
            text-align: center;
            font-weight: bold;
            font-size: medium;
            background-color: #6d2d03;

            border-radius: 0px 0px 25px 25px;

            &:hover {
                background-color: $nav-primary-accent;
            }
        }

        .cardImage {
            background-color: #9b9b9b;
            border: .2em solid $background-primary-border;
            border-radius: 1em;
            background-repeat: no-repeat;
            background-position: left;
            background-size: cover;

            &.floatLeft {
                float: left;
            }
        }

        div .imageBlock {
            display: flex;
            justify-content: space-between;
            margin: 0em 2em;
            flex-direction: row;

            .cardImage {
                flex: none;
            }

            p {
                margin: .75em 0em;
                padding-left: 1.5em;
                margin-top: 0em;
            }

        }
    }
}

ul {
    margin: 0em 4em;
}