.characters-page {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: white;
}

.character-selector {
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.character-btn {
  background-color: #2d2d3e;
  border: 1px solid white;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
}

.character-btn.active {
  background-color: #444466;
}

.character-details {
  flex: 1;
}

.character-image {
  max-width: 200px;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 100%;
}

.story-block {
    padding: 0px 5%;
}

.story-block p {
  margin: 1.25em 0;
  line-height: 1.5;
}

.block {
  // background-color: #2a2a3d;
  padding: 1rem;
  margin-bottom: 1rem;
  // border-radius: 6px;
  // border: 1px solid #444;
  background-color: #121212;
  border: 0.2rem solid #404040;
    border-right-width: 0.2rem;
    border-right-style: solid;
    border-right-color: rgb(64, 64, 64);
    border-left-width: 0.2rem;
    border-left-style: solid;
    border-left-color: rgb(64, 64, 64);
  border-left: 0;
  border-right: 0;
}