// safe defaults to avoid missing-variable errors when compiling
$mobile: 768px !default;
$background-primary-border: #222 !default;
$background-primary-color: #111 !default;
$primary-accent: #ff6a00 !default;
$pip-university-color: #2b8cff !default;
$pip-hobby-color: #f39c12 !default;

@mixin mobile() {
    @media (max-width: $mobile) {
        @content;
    }
}

.titleHeader {
    margin: .5em auto;
    text-align: center;
}

.projectCards {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    height: 40rem;
    min-height: 40rem;
    max-height: 80rem;
    padding: 2rem;
    padding-top: 1rem;
    overflow-y: scroll;

    border-radius: 0.3rem;
    background: #0a0a0a;

    .card {
        display: grid;
        grid-template-columns: .1fr .5fr 1fr;
        min-height: 7rem;
        gap: .5rem;
        
        overflow: hidden;

        border-left: none;
        border-radius: .5rem;
        border: .2rem solid $background-primary-border;
        background: $background-primary-color;
        text-decoration: none;

        &:hover {
            h3 {
                color: $primary-accent;
            }
        }

        .projectBar {
            width: .4rem;
            border-radius: 5px;

            &.university {
                background: $pip-university-color;
            }

            &.hobby {
                background: $pip-hobby-color;
            }
        }

        .image {
            width: inherit;
            height: inherit;
            background-color: #9b9b9b;
            background-repeat: no-repeat;
            background-position: left;
            background-size: cover;
        }

        h3 {
            font-size: clamp(.5rem, 1rem, 3rem);
        }

        h1,
        h2,
        h3,
        h4 {
            margin: auto;
            text-align: center;
        }
    }
}

.projectCard {
    @include mobile {
        padding: .99em 1.5em;
        overflow-x: scroll;
    }

    padding: 1.5em 3.1em;
    overflow: hidden;

    background: $background-primary-color;
    border-style: solid;
    border-color: $background-primary-border;
    border-radius: 10px;
    min-width: 30vw;
}

.project {
    display: flex;
    flex-direction: column;

    &__return-link {
        color: #cb4614;
        font-size: 1.1em;
        font-weight: 900;
        text-decoration: none;
        padding: 7px 25%;
        border-radius: 8px;
        border: 2px solid;
        margin: 0 auto;
    }
}