@use "data/scss/vars";
@use "data/scss/resets";
@use "data/scss/elements";
@use "data/scss/layout";
@use "data/scss/carousel";
@use "data/scss/pages/home";
@use "data/scss/pages/blog";
@use "data/scss/pages/projects";
@use "data/scss/pages/about";
@use "data/scss/pages/contactForm";
@use "data/scss/pages/wip";
@use "data/scss/pages/players";


/* 
========================================
FUNCTIONS
========================================
*/
@mixin remove_linkTextFormatting() {
    &:link {
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
    }

    &:active {
        text-decoration: none;
    }

    &:link {
        text-decoration: none;
    }
}

@mixin mobile() {
    @media (max-width: projects.$mobile) {
        @content;
    }
}

/* 
========================================
FOREGROUND/BACKGROUND LAYERS
========================================
*/
#frontLayer,
#backLayer {
    width: 100%;
}

#frontLayer {
    z-index: 3;
    position: absolute;
    height: 100vh;
    display: grid;
    grid-template-rows: 9fr 3rem;
}

#backLayer {
    z-index: 1;
    min-height: 100vh;
    opacity: 0.65;
    background-image: url(/img/background.jpg);
    position: fixed;
    background-size: cover;
    //mix-blend-mode: multiply;
}

/* 
========================================
MAIN
========================================
*/

#main {
    @include mobile {
        padding: 15rem 10vw 0;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 30vw 0;
}

#main_dnd {
    @include mobile {
        padding: 15rem 5vw 0;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 25vw 0;
}

.container {
    @include mobile {
        padding: 0.99em 1.5em;
        overflow-x: scroll;
    }

    padding: 1.5em 3.1em;
    overflow: hidden;

    color: vars.$text-color;
    background: projects.$background-primary-color;
    border-style: solid;
    border-color: projects.$background-primary-border;
    border-radius: 10px;
    width: clamp(30%, 95%, 100%);
    margin-bottom: 3em;

}

/* 
========================================
ScrollBar
========================================
*/

/* width */
::-webkit-scrollbar {
    width: 17px;
    /* typically 20, changed due to scrollbar-track border accent */
}

/* Track */
::-webkit-scrollbar-track {
    border: 2px solid projects.$background-primary-color;
    border-radius: 2px;
}

/* ScrollBar */
::-webkit-scrollbar-thumb {
    background: vars.$primary-scroll-color;
}

/* Arrows */
::-webkit-scrollbar-button {
    background-color: vars.$primary-scroll-color;
    border-style: solid;
    border-color: projects.$background-primary-color;
    height: 16px;
    width: 15px;

    /* Top */
    &:single-button:vertical:decrement {
        border-width: 0 8px 8px 8px;
        border-color: transparent transparent vars.$primary-scroll-arrow transparent;

        &:hover {
            border-color: transparent transparent vars.$primary-scroll-accent transparent;
        }
    }

    /* Bottom */
    &:single-button:vertical:increment {
        border-width: 8px 8px 0 8px;
        border-color: vars.$primary-scroll-arrow transparent transparent transparent;

        &:hover {
            border-color: vars.$primary-scroll-accent transparent transparent transparent;
        }
    }

}