$primary-color: #00bcd480;
$primary-accent: #00bcd4f0;
$primary-warning: #c8cb14;

$nav-primary-color: #cb4614;
$nav-primary-accent: #14c1cb;
$nav-primary-warning: #c8cb14;

$background-primary-color: #121212;
$background-primary-border: #404040;

$text-color: #bfbfbf;
$role-color: #00a6a9;
$font-weight: (
    "reg":400,
    "med":500,
    "bold":700,
);
$mobile: 900px;

$button-color: whitesmoke;
$button-backgroundColor: #a23e0080;
$button-borderColor: #030303;
$button-link-hoverColor: #00bcd480;
$button-link-activeColor: #00bcd4f0;

$div-headerColor: #9b9b9b;
$div-color: #313131;

$logo-size: 3.5rem;
$primary-avatar: url(./img/avatar.png);