@import "./vars",
"./resets",
"./elements",
"./layout",
"./pages/home",
"./pages/blog",
"./pages/projects",
"./pages/about",
"./pages/contactForm",
"./pages/wip";


/* 
========================================
FUNCTIONS
========================================
*/
@mixin remove_linkTextFormatting() {
    &:link {
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
    }

    &:active {
        text-decoration: none;
    }

    &:link {
        text-decoration: none;
    }
}

@mixin mobile() {
    @media (max-width: $mobile) {
        @content;
    }
}

/* 
========================================
FOREGROUND/BACKGROUND LAYERS
========================================
*/
#frontLayer,
#backLayer {
    width: 100%;
}

#frontLayer {
    z-index: 3;
    position: absolute;
}

#backLayer {
    z-index: 1;
    min-height: 100vh;
    opacity: 0.65;
    background-image: url(./img/background.jpg);
    position: fixed;
    background-size: cover;
    //mix-blend-mode: multiply;
}

/* 
========================================
MAIN
========================================
*/

#main {
    @include mobile {
        padding: 15em 10vw;
        padding-bottom: 0em;
    }

    padding: 10em 30vw;
    padding-bottom: 0em;
    display: flex;
    flex-direction: column;
}

.container {
    @include mobile {
        padding: 0.99em 1.5em;
        overflow-x: scroll;
    }

    padding: 1.5em 3.1em;
    overflow: hidden;

    color: $text-color;
    background: $background-primary-color;
    border-style: solid;
    border-color: $background-primary-border;
    border-radius: 10px;
    min-width: 30vw;
    margin-bottom: 1.5em;

}

/* 
========================================
ScrollBar
========================================
*/

/* width */
::-webkit-scrollbar {
    width: 17px;
    /* typically 20, changed due to scrollbar-track border accent */
}

/* Track */
::-webkit-scrollbar-track {
    border: 2px solid $background-primary-color;
    border-radius: 2px;
}

/* ScrollBar */
::-webkit-scrollbar-thumb {
    background: $primary-scroll-color;
}

/* Arrows */
::-webkit-scrollbar-button {
    background-color: $primary-scroll-color;
    border-style: solid;
    border-color: $background-primary-color;
    height: 16px;
    width: 15px;

    /* Top */
    &:single-button:vertical:decrement {
        border-width: 0 8px 8px 8px;
        border-color: transparent transparent $primary-scroll-arrow transparent;

        &:hover {
            border-color: transparent transparent $primary-scroll-accent transparent;
        }
    }

    /* Bottom */
    &:single-button:vertical:increment {
        border-width: 8px 8px 0 8px;
        border-color: $primary-scroll-arrow transparent transparent transparent;
        
        &:hover {
            border-color: $primary-scroll-accent transparent transparent transparent;
        }
    }

}